In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("movies_full_merged_filtered.csv")

In [15]:
df.head()

,Title,Year,Movie_Hits,ID,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,tmdb_id,budget,revenue,runtime
0,#Alive,2020,63.0,993,NaN,62/100,1,0,0,0,614696.0,6300000.0,13416285.0,98.0
1,'71,2014,9.0,3879,18+,71/100,0,1,0,0,252178.0,11000000.0,3200000.0,99.0
2,(500) Days of Summer,2009,21.0,3715,13+,83/100,0,1,0,0,19913.0,7500000.0,60781545.0,95.0
3,...And God Created Woman,1956,0.0,5446,7+,60/100,0,0,1,0,8420.0,300000.0,33000000.0,92.0
4,10 Items or Less,2006,9.0,5255,18+,63/100,0,0,1,0,2357.0,400.0,1.0,81.0

In [16]:
# create ratio between revenue and budget
df["Revenue-Budget Ratio"] = df["revenue"]/df["budget"]

In [17]:
df.head()

,Title,Year,Movie_Hits,ID,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,tmdb_id,budget,revenue,runtime,Revenue-Budget Ratio
0,#Alive,2020,63.0,993,NaN,62/100,1,0,0,0,614696.0,6300000.0,13416285.0,98.0,2.129569
1,'71,2014,9.0,3879,18+,71/100,0,1,0,0,252178.0,11000000.0,3200000.0,99.0,0.290909
2,(500) Days of Summer,2009,21.0,3715,13+,83/100,0,1,0,0,19913.0,7500000.0,60781545.0,95.0,8.104206
3,...And God Created Woman,1956,0.0,5446,7+,60/100,0,0,1,0,8420.0,300000.0,33000000.0,92.0,110.000000
4,10 Items or Less,2006,9.0,5255,18+,63/100,0,0,1,0,2357.0,400.0,1.0,81.0,0.002500

In [18]:
# create ratio between revenue and runtime
df["Revenue-Runtime Ratio"] = df["revenue"]/df["runtime"]

In [19]:
df.head()

,Title,Year,Movie_Hits,ID,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,tmdb_id,budget,revenue,runtime,Revenue-Budget Ratio,Revenue-Runtime Ratio
0,#Alive,2020,63.0,993,NaN,62/100,1,0,0,0,614696.0,6300000.0,13416285.0,98.0,2.129569,136900.867347
1,'71,2014,9.0,3879,18+,71/100,0,1,0,0,252178.0,11000000.0,3200000.0,99.0,0.290909,32323.232323
2,(500) Days of Summer,2009,21.0,3715,13+,83/100,0,1,0,0,19913.0,7500000.0,60781545.0,95.0,8.104206,639805.736842
3,...And God Created Woman,1956,0.0,5446,7+,60/100,0,0,1,0,8420.0,300000.0,33000000.0,92.0,110.000000,358695.652174
4,10 Items or Less,2006,9.0,5255,18+,63/100,0,0,1,0,2357.0,400.0,1.0,81.0,0.002500,0.012346

In [24]:
# import nltk vader library
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# set title as corpus
corpus = df['Title']

# initiate an analyzer
sia = SentimentIntensityAnalyzer()

desc_compound = []
desc_neu = []
desc_neg = []
desc_pos = []

# iterate through each sentence in corpus
for sentence in corpus:
    
    #print(sentence)
    
    # analyze the sentiment. ss is a dictionary
    ss = sia.polarity_scores(sentence)
    
    # output each sentiment score (neg, neu, pos, compound) in ss
    desc_compound.append(ss['compound'])
    desc_neu.append(ss['neu'])
    desc_neg.append(ss['neg'])
    desc_pos.append(ss['pos'])

In [27]:
# add sentiment scores into data frame
df = df.assign(compound = desc_compound)
df = df.assign(neutral = desc_neu)
df = df.assign(negative = desc_neg)
df = df.assign(positive = desc_pos)

In [31]:
# remove '/100' and convert to numeric
df['Rotten Tomatoes'] = df['Rotten Tomatoes'].str.replace('/100', '')
df['Rotten Tomatoes'] = pd.to_numeric(df['Rotten Tomatoes'])

In [33]:
df.head(10)

,Title,Year,Movie_Hits,ID,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,tmdb_id,budget,revenue,runtime,Revenue-Budget Ratio,Revenue-Runtime Ratio,compound,neutral,negative,positive
0,#Alive,2020,63.0,993,NaN,62,1,0,0,0,614696.0,6300000.0,13416285.0,98.0,2.129569,1.369009e+05,0.0000,1.000,0.0,0.000
1,'71,2014,9.0,3879,18+,71,0,1,0,0,252178.0,11000000.0,3200000.0,99.0,0.290909,3.232323e+04,0.0000,1.000,0.0,0.000
2,(500) Days of Summer,2009,21.0,3715,13+,83,0,1,0,0,19913.0,7500000.0,60781545.0,95.0,8.104206,6.398057e+05,0.0000,1.000,0.0,0.000
3,...And God Created Woman,1956,0.0,5446,7+,60,0,0,1,0,8420.0,300000.0,33000000.0,92.0,110.000000,3.586957e+05,0.4767,0.328,0.0,0.672
4,10 Items or Less,2006,9.0,5255,18+,63,0,0,1,0,2357.0,400.0,1.0,81.0,0.002500,1.234568e-02,0.0000,1.000,0.0,0.000
5,102 Dalmatians,2000,12.0,9007,all,60,0,0,0,1,10481.0,85000000.0,183611771.0,100.0,2.160138,1.836118e+06,0.0000,1.000,0.0,0.000
6,12 Years a Slave,2013,37.0,3707,18+,85,0,1,0,0,76203.0,20000000.0,187000000.0,134.0,9.350000,1.395522e+06,0.0000,1.000,0.0,0.000
7,127 Hours,2010,26.0,3728,18+,81,0,1,0,0,44115.0,18000000.0,35700000.0,94.0,1.983333,3.797872e+05,0.0000,1.000,0.0,0.000
8,13 Assassins,2010,26.0,3822,18+,74,0,1,0,0,58857.0,6000000.0,17555141.0,141.0,2.925857,1.245045e+05,0.0000,1.000,0.0,0.000
9,1492: Conquest of Paradise,1992,4.0,5172,13+,64,0,0,1,0,1492.0,47000000.0,7191399.0,154.0,0.153008,4.669740e+04,0.6369,0.417,0.0,0.583